body {
  background-color: #f3f6f9;
  font-family: 'Arial, sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btn-pulse {
  animation: pulse 2s infinite;
}


h1 {
  color: #004d99; /* Deep blue to symbolize calmness */
}

p, .card-title, .card-text {
  color: #005b5b; /* Calming blue-green color for text */
}
